.button {
  color: rgb(109, 106, 103);
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background: transparent;
  border: none;
}

.button svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.button:hover {
  color: chocolate;
}
.button:active {
  background-color: rgb(139, 23, 23);
  transform: scale(0.98);
  color: chocolate;
}
